.holder{
	display:grid;
	background-color:red;
	grid-template-columns:repeat(2,100px);
	grid-template-rows:repeat(2,100px);
}
.item-1{
	background:green;
}
.item-2{
	background:black;
}
.item-3{
	background:hotpink;
}
.item-4{
	background:yellow;
}